<div>
    <div>
        <h2>Create New Tweeter</h2>
        <div style="float:left; margin-right: 20px"><a href="/tweeters/list?start=0">Home</a></div>
    </div>
    <br>

    <div>
        <form method="post" action="/tweeters/save">
            <ul style="list-style: none">
                <li><label>Screen Name</label><input name="screen_name"/></li>
                <li><label>Full Name</label><input name="name"/></li>
                <li><label>Orginzation</label><input name="newsOrg"/></li>
                <input type="hidden" name="_id">
                <li><input type="submit"></li>
            </ul>
        </form>
    </div>
</div>