<div>
    <div>
        <h2>Expertise List</h2>
    </div>
    <br>

    <div>
    </div>
    <br>

    <div>
        <div class="filters">
        </div>
        <hr>
        <div style="float: left;padding-right:10px;border-right:1px solid;">
            <div>
                <input name="root_expertise_name" id="root_expertise_name"/>
                <button id="add_root_expertise">Add Root Expertise</button>
            </div>
            <div id="tree_panel" style="min-height: 450px;" >

                <%-partial('expertise_tree',{expertises:expertises})%>
            </div>

        </div>

        <div id="expertise_details" style="margin-top:10px;">

        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        function deleteExpertise(expertiseId,deleteExpertiseCallback){
            $.ajax({
                type:'DELETE',
                url:'/expertises/del/'+expertiseId+'?ajax=true',
                success:function (data) {
                    if (typeof deleteExpertiseCallback == 'function')
                        deleteExpertiseCallback(data)
                }
            });
        }

        function saveExpertise(expertiseData, saveExpertiseCallback) {
            $.ajax({
                type:'POST',
                url:'/expertises/save?ajax=true',
                data:expertiseData,
                success:function (data) {
                    if (typeof saveExpertiseCallback == 'function')
                        saveExpertiseCallback(data)
                }
            });
        }

        function getExpertise(expertiseId, callback) {
            $.get('/expertises/show/' + expertiseId + '?ajax=true', function (data) {
                if (typeof callback == 'function')
                    callback(data)
            })
        }


        function refreshExpertiseTree(callback) {
            $.get('/expertises/list?ajax=true', function (data) {
                $('#tree_panel').empty();
                $('#tree_panel').html(data)
                $("#browser").treeview({
                    toggle:function () {

                    }
                });
                $('#add_root_expertise').click(function () {
                    var data = {
                        name:$('#root_expertise_name').val(),
                        is_root:true
                    }
                    saveExpertise(data, function () {
                        refreshExpertiseTree()
                    })
                })


                $('.expertise_node_lnk').click(function () {
                    var expertiseId = this.id.replace('expertise_node_', '')
                    //getExpertise(expertiseId, function (data) {})
                    $.get('/expertises/show/' + expertiseId + '?ajax=true', function (data) {
                        $('#expertise_details').html(data)
                        $('#delete_expertise').click(function () {
                            var expertiseIdDiv = $('.expertise_id')[0]
                            var _id = expertiseIdDiv.id.replace('expertise_id_', '')
                            deleteExpertise(_id,function(){
                                refreshExpertiseTree()
                            })
                        })
                        $('#update_expertise').click(function () {
                            var expertiseIdDiv = $('.expertise_id')[0]
                            var _id = expertiseIdDiv.id.replace('expertise_id_', '')

                            var data = {
                                _id:_id,
                                name:$('#expertise_name').val()
                            }
                            saveExpertise(data, function () {
                                refreshExpertiseTree()
                            })
                        })
                        $('.add_child_expertise_button').click(function () {
                            var expertiseIdDiv = $('.expertise_id')[0]
                            var parentId = expertiseIdDiv.id.replace('expertise_id_', '')
                            var expertise = {
                                parentId:parentId,
                                name:$('#child_expertise_name').val()
                            }
                            saveExpertise(expertise, function (addResponse) {
                                refreshExpertiseTree()
                                $('#child_expertise_name').val('')
                            })
                        })
                    })
                })


                if (typeof callback == 'function')
                    callback(data)
            })
        }

        refreshExpertiseTree()


    });
</script>
