<ul  class="form_list" style="display: inline-block;">

             <li><label>Name</label><input name="name" id="expertise_name" value="<%=expertise.name||''%>"/></li>
             <li>
                 <label>Tweeters</label>
                 <select multiple>

                 </select>
             </li>
            <div class="expertise_id" id="expertise_id_<%=expertise._id%>"></div>
    <li>
                <label>Add Expertise</label>
                <input name="child_expertise_name" id="child_expertise_name"/>
                <button class="add_child_expertise_button" id="add_child_expertise_<%=expertise._id%>">Add Child Expertise</button>

        </li>
    <li style="padding-left: 400px; border-top: 1px solid;">
        <button id="update_expertise">Save</button>
        <button id="delete_expertise">Delete</button>
    </li>

    </ul>